<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Autobuces el poblado</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
 
<usuarios></usuarios>


<!--


<nav class="navbar navbar-inverse">
  <div class="menu-app">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Inicio</a></li>

          <li><a mat-button>
            <div class="nosotros">
              <button routerLink="/conductor" routerLinkActive="active" mat-button >Inicio</button>
            </div></a>
          </li>

          <li><a mat-button>
            <div class="nosotros">
              <button routerLink="/conductor" routerLinkActive="active" mat-button >Ayuda</button>
            </div></a>
          </li>

          <li><a mat-button>
            <div class="nosotros">
              <button routerLink="/conductor" routerLinkActive="active" mat-button >Nosotros</button>
            </div></a>
          </li>

          <li><a mat-button>
            <div class="nosotros">
              <button routerLink="/iniciar" routerLinkActive="active" mat-button >Iniciar sesion</button>
            </div></a>
          </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ><a mat-button> <mat-icon>account_circle</mat-icon>Usuario</a></li>
        <li ><a mat-button> <mat-icon>supervisor_account</mat-icon>Tipo de usuario</a></li>
        <li ><a mat-button> <mat-icon>exit_to_app</mat-icon> Cerrar sesion</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="login">  
  <input class ="btn-block" type="text" placeholder="Ingrese Usuario" id="username" >  
  <input class ="btn-block" type="password" placeholder="********" id="password">  
  <br>
  <button class ="btn-block" mat-raised-button> Ingresar</button>
</div>
<div class="shadow"></div>


<div class="col-md-20">
  <div class="col-md-2">
    <div *ngIf="modulos">
      
       VISTAS 

    </div>
  </div>

  <div class="col-md-10">
    <router-outlet></router-outlet>
  </div>
</div>




<div class="espacion">
  <div class="cuerpo">
    <router-outlet></router-outlet>
  </div>
</div>




<a href="#popup" class="popup-link">Ver mas información</a>

<div class="modal-wrapper" id="popup">
   <div class="popup-contenedor">
      <h2>Titulo de la Modal</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor deleniti...

      </p>
      <a class="popup-cerrar" href="#">X</a>
   </div>
</div>
-->